<%= render 'cards/alert' %>
<%= render 'layouts/header' %>

<div class="admin-show">
  <h2 class="admin-show-title">管理者画面</h2>

  <div class="admin-show-link">
    <%= link_to 'ダム新規登録', new_dam_path, class:"btn btn-success admin-show-link-self" %>
  </div>

  <div class="admin-show-link">
    <%= link_to 'ダム一覧・検索', dams_path, class:"btn btn-success admin-show-link-self" %>
  </div>

  <div class="admin-show-link">
    <%= link_to 'カード配布場所', facilities_path, class:"btn btn-warning admin-show-link-self" %>
  </div>

  <div class="admin-show-link">
    <%= link_to 'アソシエーション管理', distributes_path, class:"btn btn-primary admin-show-link-self" %>
  </div>

  <div class="admin-show-link">
    <%= link_to 'ユーザー管理', users_path, class:"btn btn-danger admin-show-link-self" %>
  </div>
</div>
