<% @dam_comments.each do |c| %>
  <div class="comment-item">
    <!-- comment-item に対して　absolute -->
    <div class="comment-item-visit-date">
      投稿日時：<%= c.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="comment-item-profile-image">
      <%= attachment_image_tag c.user, :profile_image, size: '40x40', format: 'jpeg', class:"comment-item-profile-image-self" %>
      <span class="comment-item-hundle-name">
        <% if c.user.hundle_name.blank? %>
          名無しのユーザー
        <% else %>
          <%= c.user.hundle_name %>
        <% end %>
      </span>
    </div>
    <div class="comment-item-delete">
      <%= link_to '削除',  dam_dam_comments_path(c), method: :delete, class:"btn btn-xs btn-danger comment-item-delete-self" %>
    </div>
    <!-- comment-item に対して　absolute  ここまで -->

    <div class="comment-item-title">
      " <%= c.title %> "
    </div>
    <div class="comment-item-image">
      <%= attachment_image_tag c, :comment_image, size: '300x199', format: 'jpeg', fallback: "no_image.jpeg", class:"comment-image" %>
    </div>
    <div class="comment-item-text">
      <%= c.comment %>
    </div>
  </div>
<% end %>
