<h2>ダム編集</h2>

<% @dam.errors.full_messages.each do |e| %>
  <%= e %>
<% end %>

<div class="dam-new-form">
  <%= form_for (@dam) do |f| %>
    <div class="dam-new-form-half">
      <div class="region-area-dam">
        ■<%= f.label :地域 %><br>
        <%= collection_select :dam, :region_id, Region.all, :id, :name %>
      </div>

      <div class="prefecture-area-dam">
        <%= render partial: 'select_prefecture_for_dam', locals: {region_id: Region.first.id} %>
      </div>

      <div>
        ■<%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div>
        ■<%= f.label :name_kana %><br>
        <%= f.text_field :name_kana %>
      </div>

      <div>
        ■<%= f.label :river %><br>
        <%= f.text_field :river %>
      </div>

      <div>
        ■<%= f.label :dam_type %><br>
        <%= f.select :dam_type, Dam.dam_types.keys.to_a, {} %>
      </div>

      <div>
        ■<%= f.label :gate %><br>
        <%= f.text_field :gate %>
      </div>

      <div>
        ■<%= f.label :height_and_length %><br>
        <%= f.text_field :height %>m/<%= f.text_field :length %>m
      </div>

      <div>
        ■<%= f.label :volume %><br>
        <%= f.text_field :volume %>万㎥
      </div>

      <div>
        ■<%= f.label :ダム写真 %><br>
        <%= f.attachment_field :dam_image %>
      </div>
    </div>
    <div class="dam-new-form-half clearfix">
      <div>
        ■<%= f.label :purpose %><br>
        <%= f.text_area :purpose %>
      </div>
      <div>
        <h4>purpose table</h4>
        <table class= "table dams-new-table">
          <tr>
            <th>F</th>
            <td>洪水調節</td>
          <tr>
            <th>N</th>
            <td>流水の正常な機能の維持</td>
          </tr>
          <tr>
            <th>A</th>
            <td>灌漑用水</td>
          </tr>
          <tr>
            <th>W</th>
            <td>水道用水</td>
          </tr>
          <tr>
            <th>I</th>
            <td>工業用水</td>
          </tr>
          <tr>
            <th>P</th>
            <td>発電</td>
          </tr>
        </table>
      </div>

      <div>
        ■<%= f.label :constructor %><br>
        <%= f.text_field :constructor %>
      </div>

      <div>
        ■<%= f.label :construction %><br>
        着工年<%= f.text_field :start_of_construction %><br>完成年<%= f.text_field :end_of_construction %>年
      </div>
    </div>
    <div class= "dams-new-form-submit">
      <%= f.submit 'Update DAM！', class:"btn btn-ms btn-success dams-new-form-submit-in" %>
    </div>

  <% end %>
</div>