<%= render 'layouts/header' %>
<div class="dam-show-background">
<div class="dam-show-clip"><%= image_tag("clip.jpeg")%></div>
<div class="dam-show-memo"><%= image_tag("memo.jpeg")%></div>
<div class="dam-show-pr-name-memo"><%= @dam.prefecture.name %></div>
  <div class="dam-show-black-line"></div>
    <li class="dam-show-dam-name"><%= @dam.name %></li>
    <li class="dam-show-dam-name-kana">- <%= @dam.name_kana %> -</li>
  <div class="dam-show-image-box">
    <%= attachment_image_tag @dam, :dam_image, format: 'jpeg', fallback: "dam_no_image.jpeg", class:"dam-show-image" %>
    <%= link_to prefecture_path(@dam.prefecture), class:"square_btn" do %>
      <span>Back↩︎</span>
    <% end %>
  </div>


  <div class="dam-show-information">
    <div class="dam-show-information-content">
      <table class= "table table-bordered">
        <tr>
          <th scope="row">河川名</th>
          <td><%= @dam.river %></td>
        </tr>
        <tr>
          <th scope="row">ダムの型式</th>
          <td><%= @dam.dam_type %></td>
        </tr>
        <tr>
          <th scope="row">ゲート</th>
          <td><%= @dam.gate %></td>
        </tr>
        <tr>
          <th scope="row">堤高/堤頂長</th>
          <td><%= @dam.height %>m/<%= @dam.length %>m</td>
        </tr>
        <tr>
          <th scope="row">総貯水容量</th>
          <td><%= @dam.volume %>万㎥</td>
        </tr>
        <tr>
          <th scope="row">ダムの目的</th>
          <td><%= @dam.purpose %></td>
        </tr>
        <tr>
          <th scope="row">施工業者</th>
          <td><%= @dam.constructor %></td>
        </tr>
        <tr>
          <th scope="row">着工年/完成</th>
          <td><%= @dam.start_of_construction %> / <%= @dam.end_of_construction %></td>
        </tr>
        <tr>
          <th scope="row">ダムの所在地</th>
          <td><%= @dam.address %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="dam-show-map-box">
    <iframe class="dam-show-map" src="https://maps.google.co.jp/maps?output=embed&q= <%= @dam.name %>"></iframe>
  </div>

  <div class="dam-show-kutikomi">
    <div>
      <i class="fa fa-comment"></i>
      <a href="#comments"><%= @dam.dam_comments.count %></a>
    </div>
    <ol>
      <% @dam.dam_comments.each do |c| %>
        <li class="comment">
          <div class="comment-body bb">
            <div class="comment-avatar">
              <div class="avatar">
                <%= image_tag('no_image.jpeg', style: "width: 60px; height: 60px;") %>
              </div>
            </div>
            <div class="comment-text">
              <div class="comment-author clearfix">
                <div><%= c.user.name %></div>
                  <span class="comment-meta">
                    <span class="comment-date"><%= c.created_at.strftime('%Y/%m/%d') %></span>
                  </span>
              </div>
              <div class="comment-entry"><%= c.comment %></div>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
    <div>
      <%= form_for [@dam, @dam_comment] do |f| %>
        <div class="row">
            <div class="col-sm-12">
                <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
            </div>
            <div class="col-sm-2 col-sm-offset-8">
              <div><%= f.label :投稿画像 %>(任意)<br>
                <%= f.attachment_field :comment_image, class:"" %>
              </div>
            </div>
        </div>
        <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
      <% end %>
    </div>
  </div>
</div>
