<%= render 'layouts/header' %>
<div class="dam-show-background">
<div class="dam-show-clip"><%= image_tag("clip.jpeg")%></div>
<div class="dam-show-memo"><%= image_tag("memo.jpeg")%></div>
<div class="dam-show-pr-name-memo"><%= @dam.prefecture.name %></div>
  <div class="dam-show-black-line"></div>
    <li class="dam-show-dam-name"><%= @dam.name %></li>
    <li class="dam-show-dam-name-kana">- <%= @dam.name_kana %> -</li>
  <div class="dam-show-image-box">
    <%= attachment_image_tag @dam, :dam_image, format: 'jpeg', fallback: "dam_no_image.jpeg", class:"dam-show-image" %>
    <%= link_to prefecture_path(@dam.prefecture), class:"square_btn" do %>
      <span>Back↩︎</span>
    <% end %>
  </div>


  <div class="dam-show-information">
    <div class="dam-show-information-content">
      <table class= "table table-bordered">
        <tr>
          <th scope="row">河川名</th>
          <td><%= @dam.river %></td>
        </tr>
        <tr>
          <th scope="row">ダムの型式</th>
          <td><%= @dam.dam_type %></td>
        </tr>
        <tr>
          <th scope="row">ゲート</th>
          <td><%= @dam.gate %></td>
        </tr>
        <tr>
          <th scope="row">堤高/堤頂長</th>
          <td><%= @dam.height %>m/<%= @dam.length %>m</td>
        </tr>
        <tr>
          <th scope="row">総貯水容量</th>
          <td><%= @dam.volume %>万㎥</td>
        </tr>
        <tr>
          <th scope="row">ダムの目的</th>
          <td><%= @dam.purpose %></td>
        </tr>
        <tr>
          <th scope="row">施工業者</th>
          <td><%= @dam.constructor %></td>
        </tr>
        <tr>
          <th scope="row">着工年/完成</th>
          <td><%= @dam.start_of_construction %> / <%= @dam.end_of_construction %></td>
        </tr>
        <tr>
          <th scope="row">ダムの所在地</th>
          <td><%= @dam.address %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="dam-show-map-box">
    <iframe class="dam-show-map" src="https://maps.google.co.jp/maps?output=embed&q= <%= @dam.name %>"></iframe>
  </div>
</div>

  <div class="comment">
    <li class="comment-title">
      <i class="fa fa-comment"></i>
      <%= @dam.name%> の口コミを投稿しよう！
    </li>

    <div class="comment-form">
      <%= form_for [@dam, @dam_comment] do |f| %>
        <div class="comment-form-top">
          <div class="comment-form-title">
            <%= f.label :投稿タイトル %>(任意)<br>
            <%= f.text_field :title, class: "form-control", placeholder: "投稿タイトル（最大 20文字）" %>
          </div>
          <div class="comment-form-image">
            <%= f.label :投稿画像 %>(任意)<br>
            <%= f.attachment_field :comment_image, class:"" %>
          </div>
        </div>

        <div class="comment-form-bottom">
          <%= f.label :投稿本文%>(必須)<br>
          <%= f.text_area :comment, rows:'5', id:"memo_text", class: "form-control",placeholder: "口コミ情報をこちらに（最大 330文字）" %>
          <p class="comment-form-max-text-count">残りの文字数 : <span class="count"></span>/330文字</p>

        </div>
        <div class="comment-submit">
              <%= f.submit "送信する", class: "btn btn-md btn-info comment-submit-button" %>
        </div>
      <% end %>
    </div>

    <div class="comment-count-box">
      ▼ 総件数 : <%= @dam.dam_comments.count %> 件
    </div>


    <div class="comment-item-box">
      <div id="comment-item-box-render">
        <%= render 'dam_comment' %>
      </div>
      <div class="comment-more-link">
      <%= link_to_next_page(@dam_comments, 'もっと見る', remote: true, id: 'more_link', params: { type: :dam_comment }, class:"btn btn-default") %>
      </div>
    </div>

  </div>

