<div class="about-background">

<div class="about-body">

  <!-- ナビバー -->
  <nav class="about-navbar" id="top">
    <div class="about-inner">
      <%=link_to 'トップへ戻る', dams_top_path, class:"about-nav-link-self" %>
    </div>
  </nav>
  <!-- ナビバー -->

  <!-- body -->
  <div class="container about-container">
    <div class="about-content">
      <h3 class="about-sub-title">....突然ですが，質問です．</h3>
      <h1 class="about-text-h1">「ダムカード」って知っていますか？</h1>
      <h4 class="about-text-h4"><span>初耳の方</span> は，まずは <a href="#to-about-welcome">『ようこそ、ダムの世界へ』</a> からどうぞ！</h4>
      <p>（既にご存知の方は，下のボタンから「サイトの使い方」をご覧ください）</p>

      <div class="about-button-box" id="to-about-button">
        <a class="about-button
        " id="load-more-content" href="#top">サイトの使い方</a>
        <p class="about-button-under">※ 下にテキストが表示されます</p>
      </div>


      <!-- スクロールバー -->
      <div id="more-content">
        <p class="about-scroll-title">【サイトの使い方】</p>
        <div>
          <div class="about-scroll-box">
            <p class="about-scroll-box-title">① ダムを検索する</p>
            <p class="about-scroll-box-text1"><a href="/dams/top#to-map">トップページの日本地図</a>をクリックして，都道府県別のページに入ると<br>ダムのあいまい検索ができます．（ダム名，地名，河川名など）</p>
            <div class="scroll-image-1"><%= image_tag("/images/scroll_image_1.jpeg", class:"scroll-image-1-self")%></div>
          </div>

          <div class="about-scroll-box">
            <p class="about-scroll-box-title">② 行きたいダムを選んで詳細をチェック</p>
            <p class="about-scroll-box-text2">ダムの詳細ページで，アクセスマップ，口コミ見ることができます．<br>
            ダム周辺の観光地も口コミでチェック！</p>
            <p class="about-scroll-box-text2"><span>カードの配布場所は，都道府県別のページに記載してあります．</span></p>
            <div class="scroll-image-2"><%= image_tag("/images/scroll_image_2.jpeg", class:"scroll-image-2-self")%></div>
          </div>

          <div class="about-scroll-box">
            <p class="about-scroll-box-title">③ カードを登録</p>
            <p class="about-scroll-box-text3">カードを手に入れたら，サイトに登録しましょう．<br>
              ログイン後，右上に表示される「ダムカードコレクション」から<br>
            カードの登録ができます．</p>
            <div class="scroll-image-1"><%= image_tag("/images/scroll_image_3.jpeg", class:"scroll-image-1-self")%></div>
          </div>
        </div>
      </div>
      <div class="about-welcome">
        <a id="to-about-welcome"></a>
        <div class="about-welcome-content">
          <p class="about-welcome-title">ようこそ、ダムの世界へ<p>

          <div class="about-welcome-text">
            <p class="about-welcome-text-line-1">まずは問題です．現在日本には，いくつのダムが存在するでしょうか？</p>

            <p class="about-welcome-text-line-2">答えは，約 3000基 です．</p>

            <p>そんなにあるのって驚きませんか？</p>

            <p>（ちなみに　ダムの単位は「基」です）</p>

            <p class="about-welcome-text-line-5">そのうちのいくつかのダムでは「ダムカード」というものを作って</p>
            <p>ダムを訪問した人に無料で配布しています．</p>

            <div class="about-damcard-image"><%= image_tag("/images/about_damcard.jpeg", class:"about-damcard-image-self")%></div>

            <p class="about-welcome-text-line-7">ただしそれは，基本的に <span>「1人1枚」</span>，<span>「現地」</span>でしか手に入りません．</p>

            <p>ダムカードを手に入れることは，そのダムを訪れた証となり</p>
            <p>あなたの貴重なコレクションになります．</p>

            <p class="about-welcome-text-line-10">このサイトの目的は</p>
            <p class="about-welcome-text-line-11"><span>みなさんが，手に入れたダムカードをコレクションしたり</span></p>
            <p class="about-welcome-text-line-12"><span>未だ訪れたことのない美しいダムを探したりするための役に立つこと</span>です．</p>

            <p class="about-welcome-text-line-13">春の西大滝ダム，夏の白水ダム，秋の豊平峡ダム…</p>
            <p class="about-welcome-text-line-14">それは，思わず写真に残したくなる程の美しさです．</p>

            <p class="about-welcome-text-line-15">あなたが　緑に覆われた山中を歩いている時　目の前に忽然と現れる</p>
            <p class="about-welcome-text-line-16">その荘厳で凛とした巨大な人工物と　自然が織り成す景色に</p>
            <p class="about-welcome-text-line-17">きっと魅了され　圧倒されるはずです．</p>

            <p class="about-welcome-text-line-18">
              ぜひ全国のダムカードを集めに　ダムを訪れましょう！</p>
            <div class="to-about-top"><a href="#"><i class="fas fa-chevron-circle-up to-about-top-self"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- body -->
</div>
