
<%= render 'cards/alert' %>

<div class="user-edit-show-back">
  <%= link_to '<< 戻る', user_path(@user), class:"btn btn-lg btn-default user-show-back-self" %>
</div>



<li class="user-show-title">ユーザ情報編集</li>
<div class="user-edit-box">
  <div class="user-edit-background">

    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="user-edit-image">
      <%= attachment_image_tag @user, :profile_image, size: "220x220", class:"user-show-image-self", fallback: "/images/no_image.jpeg" %>
    </div>
    <%= form_for(@user) do |f| %>
      <div class="user-edit-attachment-image-field">
          <%= f.attachment_field :profile_image, class:"user-edit-attachment-image-field-self" %>
      </div>
      <div class="user-show-table">

        <table class= "table user-show-table-main">
          <tr>
            <th class="user-edit-label">名前</th>
            <td class="user-edit-field"><%= f.text_field :name, autocomplete: "name", autofocus: true, class:"" %></td>
          </tr>
          <tr>
            <th>ふりがな</th>
            <td class="user-edit-field"><%= f.text_field :name_kana, autocomplete: "name_kana", class:"" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td class="user-edit-field"><%= f.email_field :email, autocomplete: "email", class:"" %></td>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <td class="user-edit-field"><%= f.text_field :hundle_name, autocomplete: "hundle_name", class:"" %></td>
          </tr>
        </table>
        <div class="user-edit-submit">
          <%= f.submit "変更を保存", class:"user-edit-submit-self" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="user-edit-delete-link">
    <%= link_to '退会する', user_path(@user), method: :delete, "data-confirm" => "一度退会すると，登録したカードのデータは全て失われ復元ができません．本当に退会しますか?", class:"" %>
  </div>

</div>


<br>
<br>
<br>
