<%= render 'cards/alert' %>
<%= render 'layouts/header' %>

<h3 class="user-index-title">ユーザ管理画面</h3>

<!--検索フォーム-->
<div class="user-index-search-form">
  <%= form_tag(users_index_path, :method => 'get') do %>
    <%= text_field_tag :search, "", placeholder:"名前，かな，ニックネーム検索", class:"user-index-search-form-self" %>
    <%= submit_tag 'Search', :name => nil, class:"btn btn-sm btn-default" %>
  <% end %>
</div>
<!--検索フォーム-->

<div class="user-index-paginate">
  <%= paginate @users, class: "paginate" %>
</div>

<div class="user-index-table">
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th>画像</th>
        <th>Name</th>
        <th>NameKana</th>
        <th>HundleName</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= attachment_image_tag u, :profile_image, size: "50x50", format: 'jpeg', fallback: "/images/no_image.jpeg", class:"user-index-image" %></td>
          <td><%= u.name %></td>
          <td><%= u.name_kana %></td>
          <td><%= u.hundle_name %></td>
          <td><%= u.email %></td>
          <td>
            <div><%= link_to '退会させる', user_path(u), method: :delete, "data-confirm" => "本当に退会させますか?", class:"btn btn-xs btn-danger user-index-btn-delete-self" %></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="user-index-paginate">
  <%= paginate @users, class: "paginate" %>
</div>


