<%= render 'layouts/header' %>
<%= render 'cards/alert' %>

<li class="user-show-title">ユーザ情報</li>
<div class="user-show-background">
  <div class="user-show-setting">
    <%= link_to edit_user_path(@user) do %>
      <i class="fas fa-cogs"></i>
    <% end %>
  </div>

  <div class="user-show-image">
    <%= attachment_image_tag @user, :profile_image, size: "250x250", class:"user-show-image-self", fallback: "/images/no_image.jpeg" %>
  </div>
  <div class="user-show-table">
    <table class= "table">
      <tr>
        <th>名前</th>
        <td><%= @user.name%></td>
      </tr>
      <tr>
        <th>ふりがな</th>
        <td><%= @user.name_kana%></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email%></td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @user.hundle_name%></td>
      </tr>
    </table>
  </div>

</div>

<br>
<br>
<br>