<%= render 'cards/alert' %>
<%= render 'layouts/header' %>
<div class="distribute-index-body">

  <h3 class="distribute-index-title">アソシエーション管理</h3>

  <table class='table striped'>
    <thead>
      <tr>
        <th>ダムID</th>
        <th>配布場所ID</th>
        <th>ダム名</th>
        <th>配布場所</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @distributes.each do |d| %>
        <tr>
          <td><%= d.dam_id %></td>
          <td><%= d.facility_id %></td>
          <td><%= d.dam.name %></td>
          <td><%= d.facility.name %></td>
          <td><%= link_to '削除', distribute_path(d), method: :delete, class:"btn btn-xs btn-danger" %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="distribute-index-form">

  <h4 class="distribute-index-form-title">アソシエーション登録</h4>

  <%= form_for(@distribute) do |f| %>

    <% if @distribute.errors.any? %>

      <div id="error_explanation">
        <ul>
          <% @distribute.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="distribute-index-field">
      ■<%= f.label :ダム %><br>
      <!--prefecture_idの昇順-->
      <%= f.collection_select :dam_id, Dam.all.order(prefecture_id: "ASC"), :id, :name %>
    </div>

    <div class="distribute-index-field">
      ■<%= f.label :配布場所 %><br>
      <%= f.collection_select :facility_id, Facility.all, :id, :name %>
    </div>

    <div>
      <%= f.submit '登録', class:"btn btn-sm btn-primary distribute-submit"%>
    </div>
  <% end %>
</div>
