<div class="distribute-index-body">

  <h4>カード配布場所一覧</h4>

  <table class='table'>
    <thead>
      <tr>
        <th>ダムID</th>
        <th>配布場所ID</th>
        <th>ダム名</th>
        <th>配布場所</th>
      </tr>
    </thead>
    <tbody>
      <% @distributes.each do |d| %>
        <tr>
          <td>
            <%= d.dam_id %>
          </td>
          <td>
            <%= d.facility_id %>
          </td>
          <td>
            <%= d.dam.name %>
          </td>
          <td>
            <%= d.facility.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="distribute-index-form">

  <h3>関連づけ登録</h3>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <%= form_for(@distribute) do |f| %>

    <% if @distribute.errors.any? %>

      <div id="error_explanation">
        <ul>
          <% @distribute.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="">
      ■<%= f.label :ダム %><br>
      <!--prefecture_idの昇順-->
      <%= f.collection_select :dam_id, Dam.all.order(prefecture_id: "ASC"), :id, :name %>
    </div>

    <div class="">
      ■<%= f.label :配布場所 %><br>
      <%= f.collection_select :facility_id, Facility.all, :id, :name %>
    </div>

    <div>
      <%= f.submit '登録', class:"btn btn-sm btn-primary distribute-submit"%>
    </div>
  <% end %>
</div>
