<%= render 'layouts/admin_session_header' %>
<div class="admin-session">
  <h2>管理者用入口</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="admin-session-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="admin-session-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="admin-session-submit">
      <%= f.submit "Log in", class:"admin-session-submit-self" %>
    </div>

  <% end %>
</div>

