<!-- カード登録 -->
      <li class="new-card-form-title">ダムカード登録</li>

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <%= form_for(card) do |f| %>

        <% if @card.errors.any? %>

          <div id="error_explanation">
            <ul>
              <% card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="region-area">
          ■<%= f.label :地域 %><br>
          <%= collection_select :card, :region_id, Region.all, :id, :name %>
        </div>

        <div class="prefecture-area new-card-form-item">
          <%= render partial: 'select_prefecture', locals: {region_id: Region.first.id} %>
        </div>

        <div class="new-card-form-item">
          ■<%= f.label :ダム名 %><br>
          <%= f.text_field :dam_name, class:"" %>
        </div>

        <div class="new-card-form-item">
          ■<%= f.label :ダム訪問日 %> (任意)<br>
          <%= f.date_field :visit_date, class:"" %>
        </div>

        <div class="new-card-form-item">
          ■<%= f.label :カードのバージョン %> (任意)<br>
          Ver.<%= f.number_field :version_bf, min: 0, max:5, class:"" %>
          .<%= f.number_field :version_af, min: 0, max:5, class:"" %>
          (<%= f.number_field :version_y, min: 1, max:9999, class:"" %>
          <%= f.number_field :version_m, min: 1, max:12, class:"" %>)
        </div>

        <div class="new-card-form-image">
          <div>■<%= f.label :カードの写真 %>(任意)<br>
            <%= f.attachment_field :card_image, class:"" %>
          </div>
        </div>

        <div class="new-card-form-submit">
          <%= f.submit "アルバムに登録", class: "btn btn-primary " %>
        </div>

      <% end %>