<!-- カード登録 -->
<li class="new-card-form-title">ダムカード登録</li>

<div class="new-card-text-danger">
  <span class="text-danger"> *</span><span class="text-danger-small"> は必須項目です．</span>
</div>


<%= form_for(card) do |f| %>

  <div class="region-area">
    <span class="text-danger-big">* </span><%= f.label :地域 %><br>
    <%= collection_select :card, :region_id, Region.all, :id, :name %>
  </div>

  <div class="prefecture-area new-card-form-item">
    <%= render partial: 'cards/select_prefecture', locals: {region_id: Region.first.id} %>
  </div>

  <div class="new-card-form-item">
    <span class="text-danger-big">* </span><%= f.label :ダムカード名 %><br>
    <%= f.text_field :dam_name, class:"" %>
  </div>

  <div class="new-card-form-item">
    <%= f.label :ダム訪問日 %><br>
    <%= f.date_field :visit_date, class:"" %>
  </div>

  <div class="new-card-form-item">
    <%= f.label :カードのバージョン %><br>
    Ver.<%= f.number_field :version_bf, min: 0, max:5, class:"" %>
    .<%= f.number_field :version_af, min: 0, max:5, class:"" %>
    (<%= f.number_field :version_y, min: 1, max:9999, class:"" %>
    <%= f.number_field :version_m, min: 1, max:12, class:"" %>)
  </div>

  <div class="new-card-form-image">
    <div><%= f.label :カードの写真 %><br>
      <%= f.attachment_field :card_image, class:"" %>
    </div>
  </div>

  <div class="new-card-form-submit">
    <%= f.submit "マイコレクションに登録", class: "btn btn-primary new-card-form-submit-button" %>
  </div>

<% end %>