cards#show

<h1>カードトップ</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-9">

      <ul class="tabnav">
          <li id="h"><a href="#tab01">すべて</a></li>
          <li id="h"><a href="#tab02">北海道</a></li>
          <li><a href="#tab03">東北</a></li>
          <li><a href="#tab04">関東</a></li>
          <li id="hk"><a href="#tab05">北陸・甲信越</a></li>
          <li><a href="#tab06">東海</a></li>
          <li><a href="#tab07">近畿</a></li>
          <li><a href="#tab08">中国</a></li>
          <li><a href="#tab09">四国</a></li>
          <li><a href="#tab10">九州</a></li>

      </ul>
      <div class="tabcontent">
          <div id="tab01">
            <% if @cards.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards.each do |c| %>
                <p><%= c.dam_name%>カード
                  <%= link_to '編集', edit_card_path(c.id), remote: true, class: "btn btn-sm btn-primary" %>
                  <div class="modal fade card-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
                </p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= link_to card_image_path(c) do %>
                      <%= image_tag c.images.first.dam_image.url, size: "200x150" %>
                    <% end %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', size: "200x150", class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab02">
            <% if @cards_hokkaido.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_hokkaido.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab03">
            <% if @cards_tohoku.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_tohoku.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab04">
            <% if @cards_kanto.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_kanto.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab05">
            <% if @cards_hokuriku.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_hokuriku.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab06">
            <% if @cards_tokai.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_tokai.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab07">
            <% if @cards_kinki.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_kinki.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab08">
            <% if @cards_chugoku.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_chugoku.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab09">
            <% if @cards_shikoku.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_shikoku.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank?s %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>

          <div id="tab10">
            <% if @cards_kyushu.empty? %>
              カードはまだありません．
            <% else %>
              <% @cards_kyushu.each do |c| %>
                <p><%= c.dam_name%>カード</p>
                <p>訪問日：<%= c.visit_date%></p>
                <p>Ver.<%= c.version_bf %>.<%= c.version_af %>(<%= c.version_y %>.<%= c.version_m %>)</p>
                <p>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                  <% if !c.images.blank? %>
                    <%= image_tag c.images.first.dam_image.url %>
                  <% else %>
                    <%= image_tag 'dam_card.jpeg', class:"dam-card-sample-image" %>
                  <% end %>
                  <!--複数枚投稿画像のうち最初の画像を表示-->
                </p>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
    <div class="col-xs-3">

      <!-- カード登録 -->
      <h3>ダムカード登録</h3>

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <%= form_for(@card) do |f| %>

        <% if @card.errors.any? %>

          <div id="error_explanation">
            <ul>
              <% @card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="region-area">
          ■<%= f.label :地域 %><br>
          <%= collection_select :card, :region_id, Region.all, :id, :name %>
        </div>

        <div class="prefecture-area">
          <%= render partial: 'select_prefecture', locals: {region_id: Region.first.id} %>
        </div>

        <div class="">
          ■<%= f.label :ダム名 %><br>
          <%= f.text_field :dam_name, class:"" %>
        </div>

        <div class="">
          ■<%= f.label :ダム訪問日 %> (任意)<br>
          <%= f.date_field :visit_date, class:"" %>
        </div>

        <div class="">
          ■<%= f.label :カードのバージョン %> (任意)<br>
          Ver.<%= f.number_field :version_bf, min: 0, max:5, class:"" %>
          .<%= f.number_field :version_af, min: 0, max:5, class:"" %>
          (<%= f.number_field :version_y, min: 1, max:9999, class:"" %>
          <%= f.number_field :version_m, min: 1, max:12, class:"" %>)
        </div>

        <div class="">
          ■<%= f.label :カード画像 %> (任意)<br>
          <p>  *表面と裏面を写真に撮って登録できます</p>
          <%= f.fields_for :images do |i| %>
            <%= i.hidden_field :user_id, value: current_user.id %>
            <%= i.file_field :dam_image %>
          <% end %>
        </div>

        <div class="">
          <%= f.submit "アルバムに登録", class: "btn btn-primary" %>
        </div>

      <% end %>
      <!-- カード登録 -->
    </div>
  </div>
</div>


