<div class="card-show-dam-item">
  <div class="card-show-dam-item-name">【
    <% if !@card.dam_name.blank? %>
      <%= @card.dam_name%>
    <% else %>
      NO NAME
    <% end %>
  】</div>
  <div class="card-show-dam-item-image">
      <%= link_to card_path(@card), class: "" do %>
        <%= attachment_image_tag @card, :card_image, size: '200x150', format: 'jpeg', fallback: "dam_no_image.jpeg", class:"" %>
      <% end %>
  </div>
  <div class="card-show-dam-item-ver">Ver.<%= @card.version_bf %>.<%= @card.version_af %>(<%= @card.version_y %>.<%= @card.version_m %>)</div>
</div>