<%= render 'layouts/header' %>

<div class="inquiry-confirm">
  <h2 class="inquiry-confirm-title">お問い合わせ内容確認</h2>

<div class="inquiry-confirm-box">
  <%= form_for @inquiry, url: inquiry_thanks_path do |f| %>
    <div class="inquiry-confirm-main">
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :message %>
      <%= simple_format(@inquiry.message) %>
    </div>
    <div class="inquiry-confirm-form-submit">
      <%= f.submit '送　   信', :class => 'btn btn-primary inquiry-confirm-form-submit-self' %>
    </div>
  <% end %>
  <%= form_for @inquiry, url: inquiry_path do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :message %>
    <%= f.submit '入力画面へ戻る' %>
  <% end %>
</div>


