<%= render 'layouts/header' %>
<div class="inquiry-index">
  <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>

      <h2 class="inquiry-index-title">お問い合わせフォーム</h2>

    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="inquiry-index-table">
      <table class="table">
        <tr>
          <th class="inquiry-index-form-label">お名前<span class="text-danger">（必須）</span></th>
          <td class="inquiry-index-form-field">
            <div>
              <%= f.text_field :name, class:"inquiry-index-form-name-self" %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="inquiry-index-form-label">メールアドレス<span class="text-danger">（必須）</span></th>
          <td class="inquiry-index-form-field">
            <div>
              <%= f.text_field :email, class:"inquiry-index-form-email-self" %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="inquiry-index-form-label">お問い合わせ内容<span class="text-danger">（必須）</span></th>
          <td class="inquiry-index-form-field">
            <div>
              <%= f.text_area :message, class:"inquiry-index-form-message-self" %>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="inquiry-index-form-submit">
      <%= f.submit '確認画面へ', class: 'btn btn-default inquiry-index-form-submit-self' %>
    </div>
  <% end %>
</div>
