<header style="position: relative;">
  <%= link_to 'Admin Page', admin_path(Admin.find(1)), class:"btn btn-warning" %>
  <%= link_to '管理者ログイン', new_admin_session_path, class:"btn btn-warning" %>

  <li class="title">ダム王</li>
  <li class="sub-title">damour</li>

  <div class="nav-menu">
    <% if user_signed_in? %>
      <%= link_to 'マイページ', user_path(current_user), class:"menu-btn" %>
      <%= link_to 'ダム王とは', "", class:"menu-btn" %>
      <%= link_to 'TOP', root_path, class:"menu-btn-home" %>
      <%= link_to 'お問い合わせ', "", class:"menu-btn" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"menu-btn" %>
    <% elsif admin_signed_in? %>
      <%= link_to 'ダム王とは', "", class:"menu-btn" %>
      <%= link_to '管理者ページ', admin_path(current_admin), class:"menu-btn" %>
      <%= link_to 'TOP', root_path, class:"menu-btn-home" %>
      <%= link_to 'お問い合わせ', "", class:"menu-btn" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"menu-btn" %>
    <% else %>
      <%= link_to 'トップ', root_path, class:"menu-btn-home" %>
      <%= link_to 'ダム王とは', "", class:"menu-btn" %>
      <%= link_to "会員登録", '', class: "nav-link menu-btn" , "data-toggle": "modal", "data-target": "#signupModal" %>
      <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 200px auto; height: 700px;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5>会員登録</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :お名前%>（非公開）<br />
                  <%= f.text_field :name, autofocus: true %>
                </div>

                <div class="field">
                  <%= f.label :お名前ふりがな %>（非公開）<br />
                  <%= f.text_field :name_kana %>
                </div>

                <div class="field">
                  <%= f.label :メールアドレス %>（非公開）<br />
                  <%= f.email_field :email %>
                </div>

                <div class="field">
                  <%= f.label :ハンドルネーム %> ※ 後から追加できます<br />
                  <%= f.text_field :hundle_name %>
                </div>

                 <div class="field">
                    <%= f.label :プロフィール画像 %> ※ 後から追加できます<br />
                    <%= f.attachment_field :profile_image %>
                </div>

                <div class="field">
                  <%= f.label :パスワード %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </div>

                <div class="field">
                  <%= f.label :パスワード確認 %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                <%= f.hidden_field :url, value: request.fullpath %>

                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <%= link_to "ログイン", '', class: "nav-link menu-btn", "data-toggle": "modal", "data-target": "#signinModal" %>
      <!-- モーダルログイン画面 -->
        <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 200px auto; height: 700px;">
          <div class="modal-dialog" role="document">

            <div class="modal-content">

              <div class="modal-header">
                <h5>ログイン</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>

                  <%= f.hidden_field :url, value: request.fullpath %>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  <div class="actions">
                    <%= f.submit "ログイン" %>
                  </div>
                <% end %>
              </div>

            </div>

          </div>
        </div>
      <!-- モーダルログイン画面 -->
      <%= link_to 'お問い合わせ', "", class:"menu-btn" %>
    <% end %>
  </div>
</header>

