<!DOCTYPE html>
<html>
  <head>
    <title>Damour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <%= link_to 'マイページ', user_path(current_user) %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% elsif admin_signed_in? %>
        <%= link_to 'マイページ', admin_path(current_admin) %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'ユーザーログイン', new_user_session_path %>/
        <%= link_to 'ユーザー会員登録', new_user_registration_path %>
        <p><%= link_to '管理者ログイン', new_admin_session_path %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
