<!DOCTYPE html>
<html>
  <head>
    <title>Damour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.min.css">

  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <%= link_to 'トップ', dams_top_path, data: {"turbolinks" => false}, class:"btn btn-primary" %>
        <%= link_to 'カードトップ', card_path(current_user), class:"btn btn-primary" %>
        <%= link_to 'マイページ', user_path(current_user), class:"btn btn-success" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
      <% elsif admin_signed_in? %>
        <%= link_to 'トップ', dams_top %>
        <%= link_to 'マイページ', admin_path(current_admin), class:"btn btn-success" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
      <% else %>
        <%= link_to 'ユーザー会員登録', new_user_registration_path, class:"btn btn-primary" %>
        <%= link_to 'ユーザーログイン', new_user_session_path, class:"btn btn-success" %>
        <%= link_to '管理者ログイン', new_admin_session_path, class:"btn btn-warning" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
