<!DOCTYPE html>
<html>
  <head>
    <title>Damour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  </head>
  <%if user_signed_in? %>
    <%= link_to card_path(current_user), class:"my-parts" do %>
      <span class="my-parts-text">ダムカード<br>コレクション<span>
    <% end %>
  <% elsif admin_signed_in? %>
  <% else %>
    <%= link_to new_user_session_path, class:"my-parts" do %>
      <span class="my-parts-text">ダムカード<br>コレクション<span>
    <% end %>
  <% end %>

  <body>

    <header>
      <%= link_to 'Admin Page', admin_path(Admin.find(1)), class:"btn btn-warning" %>

      <li class="title">ダム王</li>
      <li class="sub-title">damour</li>

      <div class="nav-menu">
        <% if user_signed_in? %>
          <%= link_to 'Home', dams_top_path, class:"menu-btn-home" %>
          <%= link_to 'MyPage', user_path(current_user), class:"menu-btn" %>
          <%= link_to 'About', "", class:"menu-btn" %>
          <%= link_to 'Contact', "", class:"menu-btn" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"menu-btn" %>
        <% elsif admin_signed_in? %>
          <%= link_to 'Home', dams_top_path, class:"menu-btn" %>
          <%= link_to 'ABOUT', "", class:"menu-btn" %>
          <%= link_to 'ADMIN PAGE', admin_path(@admin), class:"menu-btn" %>
          <%= link_to 'CONTACT', "", class:"menu-btn" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"menu-btn" %>
        <% else %>
          <%= link_to 'Home', dams_top_path, class:"menu-btn" %>
          <%= link_to 'About', "", class:"menu-btn" %>
          <%= link_to 'Contact', "", class:"menu-btn" %>
          <%= link_to 'SignUp', new_user_registration_path, class:"menu-btn" %>
          <%= link_to 'LogIn', new_user_session_path, class:"menu-btn" %>
          <%= link_to 'Admin Login', new_admin_session_path, class:"btn btn-warning" %>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>

  <footer class="footer mt-auto py-3">
    <div class='container'>
      <div class='row'>
        <div class='col-xs-3 col-xs-offset-9 footer-text'>
          CopyRight damour.inc
        </div>
      </div>
    </div>
  </footer>

</html>
