<!-- CSSは users/_registration_form を転用 -->
<%= render 'layouts/header' %>

<%= devise_error_messages %>

<div class="modal-content modal-content-signup">

  <div class="modal-header">
    <h5 class="modal-header-title">SIGN UP</h5>
  </div>

  <div class="modal-body">
    <div class="modal-body-image-signup"><%= image_tag('/images/swing1.jpeg', class:"swing1")%></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 're_new_user'}) do |f| %>
        <div class="modal-body-field-signup">
          <li class="modal-body-label-signup"><%= f.label :お名前%>（非公開）</li>
          <div class= modal-body-field-signup"><%= f.text_field :name, autofocus: true, class:"modal-body-field-self-re-signup", id:"re_user_name" %></div>
        </div>

        <div class="modal-body-field-signup">
          <li class="modal-body-label-signup"><%= f.label :お名前ふりがな%>（非公開）</li>
          <div class= modal-body-field-signup"><%= f.text_field :name_kana, class:"modal-body-field-self-re-signup", id:"re_user_name_kana" %></div>
        </div>

        <div class="modal-body-field-signup">
          <li class= modal-body-label-signup><%= f.label :email %>（非公開）</li>
          <div class= modal-body-field-signup><%= f.email_field :email, class:"modal-body-field-self-re-signup", id:"re_user_email" %></div>
        </div>

        <div class="modal-body-field-signup">
          <li class="modal-body-label-signup"><%= f.label :ニックネーム%></li>
          <div class= modal-body-field-signup"><%= f.text_field :hundle_name, class:"modal-body-field-self-re-signup", id:"re_user_hundle_name" %></div>
        </div>

        <div class="modal-body-field-signup">
          <li class="modal-body-label-signup"><%= f.label :プロフィール画像 %></li>
          <div class="modal-body-attachment-field-signup"><%= f.attachment_field :profile_image, class:"modal-body-attachment-field-self-re-signup", id:"re_user_profile_image" %></div>
        </div>

        <div class="modal-body-field-password-signup">
          <li class="modal-body-label-signup"><%= f.label :パスワード %>(6文字以上)</li>
          <div class= modal-body-field-signup"><%= f.password_field :password, autocomplete: "new-password", class:"modal-body-field-self-re-signup", id:"re_user_password" %></div>
        </div>

        <div class="modal-body-field-password-signup">
          <li class="modal-body-label-signup"><%= f.label :password_confirmation %>(6文字以上)</li>
          <div class= modal-body-field-signup"><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"modal-body-field-self-re-signup", id:"re_user_password_confirmation" %></div>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"btn btn-lg btn-primary modal-body-submit-signup"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>


